<div style="margin-top: 25px;">
  <input value={{name}} oninput={{action (mut name) value="target.value"}}>
</div>

<button {{action "save"}}>
  Save
</button>

<button {{action "reset"}}>
  Reset
</button>
